# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env

.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# my custom ignores
public/uploads/images/*
!public/uploads/images/required.md

public/uploads/avatars/*
!public/uploads/avatars/required.md

public/uploads/docs/*
!public/uploads/docs/required.md

public/uploads/pdfs/*
!public/uploads/pdfs/required.md

public/uploads/texts/*
!public/uploads/texts/required.md