@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 230 74% 44%;
    --primary-foreground: 355.7 100% 97.3%;
    --bg-fade: 229.09 100% 97.84%;
  }
}

body {
  @apply bg-gray-50;
}
