@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 172 59% 64%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 86% 97%;
    --destructive-foreground: 0 74% 42%;
    --border: 240 5.9% 90%;
    --input: 172 59% 64%;
    --ring: 169 79% 56%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.grainy {
  background-color: #f8f9fa;
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 0.5;
  background-color: #00000015;
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 0.5;
  background-color: #13131374;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 7px;
}

.grayscale-self img {
  @apply h-10 w-10 cursor-pointer transition-all duration-300 ease-in-out hover:grayscale md:h-20 md:w-20;
}

.child-flex div {
  @apply flex flex-col items-center justify-center gap-1 p-2 text-primary;
}

.grid-child li {
  @apply flex items-center gap-x-3 rounded-md px-3 py-3 font-medium text-muted-foreground hover:cursor-pointer hover:bg-gray-100;
}
.grid-child li a {
  @apply h-full w-full;
}

.swiper-button-next::after {
  @apply text-xl font-bold text-primary/80 !important;
}
.swiper-button-prev::after {
  @apply text-xl font-bold text-primary/80 !important;
}

.use-case__wrapper > div > div {
  @apply w-full border-b p-6 text-base text-gray-500 md:w-1/2 md:border-b-0;
}

.use-case__content {
  @apply cursor-pointer transition-all;
}

.use-case__content:hover .use-case__hover-icon {
  @apply text-slate-500;
}
