@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* #FFF */
    --foreground: 240 10% 3.9%; /* #070708 */
    --card: 0 0% 100%; /* #FFF */
    --card-foreground: 240 10% 3.9%; /* #09090B */
    --popover: 0 0% 100%; /* #FFF */
    --popover-foreground: 240 10% 3.9%; /* #09090B */
    --primary: 199 89% 48%; /* #6dd9cb  ->  #0ea5e9 sky-500 */
    --primary-foreground: 355.7 100% 97.3%; /* #FFF1F2 */
    --secondary: 240 4.8% 95.9%; /* #F4F4F5 */
    --secondary-foreground: 240 5.9% 10%; /* #18181B */
    --muted: 240 4.8% 95.9%; /* #F4F4F5 */
    --muted-foreground: 240 3.8% 46.1%; /* #71717A */
    --accent: 240 4.8% 95.9%; /* #F4F4F5 */
    --accent-foreground: 240 5.9% 10%; /* #18181B */
    --destructive: 0 86% 97%; /* #FEF1F1 */
    --destructive-foreground: 0 74% 42%; /* #BA1C1C */
    --border: 240 5.9% 90%; /* #E4E4E7 */
    --input: 199 89% 48%; /* #6dd9cb -> #0ea5e9 sky-500 */
    --ring: 200 98% 39%; /* #36E7C7 -> #0284c7 sky-600 */
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.grainy {
  @apply bg-slate-100;
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 0.5;
  background-color: #00000015;
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 0.5;
  background-color: #13131374;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 7px;
}

.grayscale-self svg {
  @apply h-10 w-10 cursor-pointer transition-all duration-300 ease-in-out hover:grayscale md:h-20 md:w-20;
}

.child-flex div {
  @apply flex flex-col items-center justify-center gap-1 p-2 text-primary;
}

.grid-child li {
  @apply flex items-center gap-x-3 rounded-md px-3 py-3 font-medium text-muted-foreground hover:cursor-pointer hover:bg-gray-100;
}
.grid-child li a {
  @apply h-full w-full;
}

.use-case__content {
  @apply cursor-pointer transition-all;
}

.use-case__content:hover .use-case__hover-icon {
  @apply text-slate-500;
}
